services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    tty: true
    stdin_open: true
    environment:
      MODE: DEV
      BINDING: "0.0.0.0"
      POSTGRES_DATABASE: ${POSTGRES_DB:-oer-aggregator-dev}
      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oer-aggregator-password}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
      POSTGRES_USER: ${POSTGRES_USER:-oer-aggregator-user}
      NOSTR_RELAY_URLS: ${NOSTR_RELAY_URLS}
    network_mode: host
    volumes:
      - .:/home/node/app
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${POSTGRES_DB:-oer-aggregator-dev}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oer-aggregator-password}
      POSTGRES_USER: ${POSTGRES_USER:-oer-aggregator-user}
    network_mode: host
    # Exposing the port is not needed unless you want to access this database instance from the host.
    # Be careful when other postgres docker container are running on the same port
    # ports:
    #  - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata

  nak-relay:
    build:
      context: https://github.com/fiatjaf/nak.git
    command: serve
    # Always binds to localhost, therefore host mode needs to be used to have access from the other container
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./nak-data:/data
    environment:
      - NAK_DATA_DIR=/data
volumes:
  postgres_data:
